* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

body {
    padding-top: 90px;
}


.logo {
    height: 50px;
}

.nav-center h2 {
    color: #0d2c6c;
    font-weight: 600;
    animation: fadeSlide 2s ease-in-out infinite alternate;
}

@keyframes fadeSlide {
    from { opacity: 0.6; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(5px); }
}


.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-right a:hover {
    color: #1e63ff;
}

.hero {
    height: 100vh;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero-text {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 50px;
    animation: zoomIn 2s ease;
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


/* GALLERY */
.gallery {
    padding: 60px 40px;
    background: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0d2c6c;
    color: white;
}
.social-bar {
    text-align: center;
    padding: 20px;
    background: #1e63ff;
}

.social-bar a {
    color: white;
    font-size: 22px;
    margin: 0 15px;
    transition: 0.3s;
}

.social-bar a:hover {
    color: yellow;
    transform: scale(1.2);
}
